
.topnaveMain{
    display: grid;
    align-items: center;
    height: 5rem;
    .topContent{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 2rem;
        padding-right: 4rem;
        h4{
            color: #1F3960;
            font-size: 1.8rem;
            font-weight: bold;
        }
        .headerMenu{
            display: grid;
            grid-auto-flow: column;
            justify-self: right;
            grid-gap: 1.5rem;
            align-items: center;
        }
    }
}